<div ng-controller="ctrlblockurls">
    <h2>{{rows.length}} Blocked URL{{plural(rows)}} <span ng-show="temp">?<small
                    class="muted"><em> (only {{rows.length-1}} actually....)</em></small></span>
    </h2>
    <div class="text-center" ng-hide="dataLoaded">
        <i class="icon-loading-animate icon-refresh icon-black"></i> Loading
        data
    </div>
    <div ng-show="dataLoaded">
        <form class="form-horizontal">
            <fieldset class="control-group form-inline">
            <span ng-class="{'input-append':addUrl}">
                <select id="pattern" ng-show="addUrl" ng-change="addTemp()" ng-model="addPattern">
                    <option value="EQUALS">URL is</option>
                    <option value="NOT_EQUALS">URL is not</option>
                    <option value="CONTAINS">URL contains</option>
                    <option value="NOT_CONTAINS">URL not contains</option>
                    <option value="PREFIX">URL starts with</option>
                    <option value="SUFFIX">URL ends with</option>
                </select>
                <input id="add" type="text" placeholder="Add another URL?"
                       ng-model="addUrl" ng-change="addTemp()"/>
                <input type="button" class="btn btn-primary" ng-click="addRow()"
                       ng-show="addUrl" value="+ add"/>

            </span>
            </fieldset>
            <fieldset class="control-group form-inline">
        <span class="search input-prepend" ng-class="{'input-append':search}">
            <span class="add-on"><i class="icon-search"></i></span>
            <input type="text" class="span2" placeholder="Search"
                   ng-model="search">
            <button type="button" class="btn btn-inverse" ng-click="search=''"
                    ng-show="search" value="+ add">
                <i class="icon-remove icon-white"></i>
            </button>
        </span>
            </fieldset>
        </form>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>url</th>
                <th>pattern</th>
                <th>actions</th>
            </tr>
            <tr ng-repeat="row in rows | filter : search"
                ng-class="{'muted':isTemp($index)}">
                <td>{{$index+1}}</td>
                <td>{{row.url}}</td>
                <td>{{row.pattern}}</td>
                <td>
                    <button class="btn btn-danger btn-mini"
                            ng-click="deleteRow(row)" ng-hide="isTemp($index)">
                        <i
                                class="icon-trash icon-white"></i></button>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-success"
                ng-click="saveForm(rows)" ng-show="dataLoaded"><i
                    class="icon-ok icon-white"></i> Save
        </button>
        <span class="text-center" ng-show="saving"><i
                    class="icon-loading-animate icon-refresh icon-black"></i> Saving</span>
    </div>
</div>
